body {
  background-color: #EEEEEE;
}

.user-header {
  background-color: #222222;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.user-header .navbar {
  color: white;
  background-color: #222222;
}
.user-header-name {
  margin: 80px 20px;
}
.user-header-name h2 {
  color: white;
  background-color: #222222;
  padding: 5px;
  display: inline-block;
}
