<div class="user-header" style="background-image: url({{verified[user.ident].bg}})">
  <div class="container">
    <div class="user-header-name">
      <h2 style="background-color: {{verified[user.ident].clr}}">{{user.name}} <i ng-if="user.verified" class="glyphicon glyphicon-ok-sign"></i></h2>
    </div>
    <nav class="navbar" style="background-color: {{verified[user.ident].clr}}">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">{{user._subscribers.length}} prenumeranter</p>
          <button ng-if="!subscribed() && loggedIn && !isCurrentUser(user)" ng-click="subscribe()" type="button" class="btn btn-success navbar-btn">Prenumerera</button>
          <button ng-if="subscribed() && loggedIn && !isCurrentUser(user)" ng-click="unsubscribe()" type="button" class="btn btn-danger navbar-btn">Avbryt Prenumeration</button>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="container">
  <h2>Planerade event</h2>
  <h4 class="text-right">
    <span class="label label-primary">Event</span>
    <span class="label label-danger">Möte</span>
    <span class="label label-warning">Viktigt datum</span>
    <span class="label label-default">Annat</span>
  </h4>
  <hr/>
  <!-- This week -->
  <div class="row">
    <div class="col-md-3">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">I veckan</h3>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
    <!-- events -->
    <div class="col-md-3" ng-repeat="event in events">
      <div class="panel" ng-class="{'panel-primary': event.type=='event', 'panel-danger': event.type=='meeting'}">
        <div class="panel-heading">
          <h3 class="panel-title">{{event.date}} | {{event.title}} <p ng-if="isCurrentUser(user)" class="pull-right">x</p></h3>
        </div>
        <div class="panel-body">
          {{event.description}}
        </div>
      </div>
    </div>
  </div>
</div>
